Node-red flow.json
[{"id":"53c23fad.3bb34","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"529f143c.db5ebc","type":"mqtt in","z":"53c23fad.3bb34","name":"","topic":"topic/data/ruang1","qos":"0","datatype":"auto","broker":"dac2e186.561c3","nl":false,"rap":true,"rh":0,"x":140,"y":320,"wires":[["2aa013fb.d3800c","3d4a7667.3b03ba"]]},{"id":"8c4586f9.885248","type":"debug","z":"53c23fad.3bb34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1530,"y":320,"wires":[]},{"id":"413b45f.3e913bc","type":"function","z":"53c23fad.3bb34","name":"","func":"var pesan = \"download aplikasi filezilla pada komputer atau smartphone anda. kemudian masukkan: \";\npesan += \"\\n 1. ip/hostanme = 172.104.160.232\";\npesan += \"\\n 2. user = user\";\npesan += \"\\n 3. password = 12345\";\npesan += \"\\nkemudian bisa download file report yang berbentuk .csv(excel)\";\npesan += \"\\n\\natau bisa juga diakses melalui web browser dengan mengakses ftp://172.104.160.232. kemudian masukan id dan password yang sama dengan filezilla\";\npesan += \"\\n\\nketerangan kolom .csv:\";\npesan += \"\\n 1. Kolom A = tanggal pengambilan data\";\npesan += \"\\n 2. Kolom B = waktu pengambilan data\";\npesan += \"\\n 3. Kolom C = temperatur udara (celcius)\";\npesan += \"\\n 4. Kolom D = kelembapan (%)\";\nmsg.payload = pesan;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":840,"wires":[["35059f5c.e52f7"]]},{"id":"9922dbc9.efa388","type":"function","z":"53c23fad.3bb34","name":"","func":"msg.payload = \"false\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1280,"wires":[["9bef9a6b.884f08"]]},{"id":"9bef9a6b.884f08","type":"mqtt out","z":"53c23fad.3bb34","name":"node subscribe MQTT","topic":"topic/control_suhu","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dac2e186.561c3","x":1480,"y":1100,"wires":[]},{"id":"c35e9111.7fc12","type":"mongodb2 in","z":"53c23fad.3bb34","service":"_ext_","configNode":"dff2106f.a1f8c","name":"","collection":"fix","operation":"insert","x":730,"y":220,"wires":[["8c4586f9.885248"]]},{"id":"35059f5c.e52f7","type":"telegrambot-notify","z":"53c23fad.3bb34","name":"notif telegram","bot":"","chatId":"431248719","message":"","parseMode":"","x":1640,"y":780,"wires":[]},{"id":"87a52432.d67848","type":"telegrambot-command","z":"53c23fad.3bb34","name":"turun","bot":"","command":"/turun","commandType":"str","commandCase":false,"x":370,"y":1400,"wires":[["4df2569f.c4acf8"]]},{"id":"91845fe.7cf44a","type":"function","z":"53c23fad.3bb34","name":"notif naik 22","func":"msg.payload = \"ac menaikkan temperatur ke 22\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":960,"wires":[["35059f5c.e52f7"]]},{"id":"e3d5ad9d.e7e6a","type":"function","z":"53c23fad.3bb34","name":"notif turun 22","func":"msg.payload = \"ac turun temperatur ke 22\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1260,"wires":[["35059f5c.e52f7"]]},{"id":"1a3f9308.66570d","type":"telegrambot-command","z":"53c23fad.3bb34","name":"cekdata","bot":"","command":"/cekdata","commandType":"str","commandCase":false,"x":170,"y":840,"wires":[["413b45f.3e913bc"]]},{"id":"dbae480a.aefda8","type":"function","z":"53c23fad.3bb34","name":"","func":"var now = new Date();\n\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n\nvar datestamp = dd+'-'+mm+'-'+yyyy;\nmsg.filename = \"/home/user/ftp/files/data_\" + datestamp+ \".csv\";\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":300,"wires":[["ba55c6b9.53ce08"]]},{"id":"f58a80ec.2b95a","type":"csv","z":"53c23fad.3bb34","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"date,time,temp,humid","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":570,"y":300,"wires":[["dbae480a.aefda8"]]},{"id":"2aa013fb.d3800c","type":"json","z":"53c23fad.3bb34","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":280,"wires":[["f58a80ec.2b95a","c35e9111.7fc12"]]},{"id":"ba55c6b9.53ce08","type":"file","z":"53c23fad.3bb34","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":870,"y":280,"wires":[["8c4586f9.885248"]]},{"id":"b6482796.114c18","type":"telegrambot-command","z":"53c23fad.3bb34","name":"naik","bot":"","command":"/naik","commandType":"str","commandCase":false,"x":70,"y":1100,"wires":[["195ca52c.f4051b"]]},{"id":"195ca52c.f4051b","type":"telegrambot-switch","z":"53c23fad.3bb34","name":"switch up temperatur","bot":"","chatId":"431248719","question":"berapa derajat?","answers":["22","23","24","25","26"],"outputs":6,"autoAnswerCallback":false,"verticalAnswers":true,"timeoutValue":"3","timeoutUnits":"min","x":280,"y":1100,"wires":[["fc9203d.b629d","91845fe.7cf44a"],["a8c39554.a714a8"],["699fab8.51e1754","98620458.7eb368"],["8822a6c8.f03128","df8c8a11.0fe518"],["1c0b4b9b.963584","de0ea186.70329"],["f1255c68.b1dab"]]},{"id":"fc9203d.b629d","type":"function","z":"53c23fad.3bb34","name":"","func":"msg.payload = \"22\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":980,"wires":[["9bef9a6b.884f08"]]},{"id":"a8c39554.a714a8","type":"function","z":"53c23fad.3bb34","name":"","func":"msg.payload = \"25\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1040,"wires":[["9bef9a6b.884f08"]]},{"id":"699fab8.51e1754","type":"function","z":"53c23fad.3bb34","name":"","func":"msg.payload = \"23\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1100,"wires":[["9bef9a6b.884f08"]]},{"id":"59caad45.8ebf74","type":"function","z":"53c23fad.3bb34","name":"notif naik 23","func":"msg.payload = \"ac menaikkan temperatur ke 23\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1020,"wires":[["35059f5c.e52f7"]]},{"id":"98620458.7eb368","type":"function","z":"53c23fad.3bb34","name":"notif naik 24","func":"msg.payload = \"ac menaikkan temperatur ke 24\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1080,"wires":[["35059f5c.e52f7"]]},{"id":"8822a6c8.f03128","type":"function","z":"53c23fad.3bb34","name":"notif naik 25","func":"msg.payload = \"ac menaikkan temperatur ke 25\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1140,"wires":[["35059f5c.e52f7"]]},{"id":"df8c8a11.0fe518","type":"function","z":"53c23fad.3bb34","name":"","func":"msg.payload = \"23\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1160,"wires":[["9bef9a6b.884f08"]]},{"id":"1c0b4b9b.963584","type":"function","z":"53c23fad.3bb34","name":"notif naik 26","func":"msg.payload = \"ac menaikkan temperatur ke 26\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1200,"wires":[["35059f5c.e52f7"]]},{"id":"de0ea186.70329","type":"function","z":"53c23fad.3bb34","name":"","func":"msg.payload = \"23\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1220,"wires":[["9bef9a6b.884f08"]]},{"id":"f1255c68.b1dab","type":"function","z":"53c23fad.3bb34","name":"notif timeout","func":"msg.payload = \"waktu habis\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1260,"wires":[["35059f5c.e52f7"]]},{"id":"4df2569f.c4acf8","type":"telegrambot-switch","z":"53c23fad.3bb34","name":"","bot":"","chatId":"431248719","question":"berapa dejat?","answers":["22","23","24","25","26"],"outputs":6,"autoAnswerCallback":false,"verticalAnswers":true,"timeoutValue":"3","timeoutUnits":"min","x":580,"y":1400,"wires":[["e3d5ad9d.e7e6a","9922dbc9.efa388"],["cb3a60d5.8cc87","e6a25eb4.2afe7"],["85ae5542.6a7658","39f787dd.9ec5b8"],["e901e543.4bf348","cd35eee3.0b8ef"],["28abb866.f2ef08","f2a79dad.3460b"],["f1255c68.b1dab"]]},{"id":"e6a25eb4.2afe7","type":"function","z":"53c23fad.3bb34","name":"","func":"msg.payload = \"false\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1360,"wires":[["9bef9a6b.884f08"]]},{"id":"cb3a60d5.8cc87","type":"function","z":"53c23fad.3bb34","name":"notif turun 23","func":"msg.payload = \"ac turun temperatur ke 23\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1340,"wires":[["35059f5c.e52f7"]]},{"id":"39f787dd.9ec5b8","type":"function","z":"53c23fad.3bb34","name":"","func":"msg.payload = \"false\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1440,"wires":[["9bef9a6b.884f08"]]},{"id":"85ae5542.6a7658","type":"function","z":"53c23fad.3bb34","name":"notif turun 24","func":"msg.payload = \"ac turun temperatur ke 24\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1420,"wires":[["35059f5c.e52f7"]]},{"id":"cd35eee3.0b8ef","type":"function","z":"53c23fad.3bb34","name":"","func":"msg.payload = \"false\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1520,"wires":[["9bef9a6b.884f08"]]},{"id":"e901e543.4bf348","type":"function","z":"53c23fad.3bb34","name":"notif turun 25","func":"msg.payload = \"ac turun temperatur ke 25\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1500,"wires":[["35059f5c.e52f7"]]},{"id":"f2a79dad.3460b","type":"function","z":"53c23fad.3bb34","name":"","func":"msg.payload = \"false\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1600,"wires":[["9bef9a6b.884f08"]]},{"id":"28abb866.f2ef08","type":"function","z":"53c23fad.3bb34","name":"notif turun 26","func":"msg.payload = \"ac turun temperatur ke 26\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1580,"wires":[["35059f5c.e52f7"]]},{"id":"689839d.21778c8","type":"telegrambot-command","z":"53c23fad.3bb34","name":"help","bot":"","command":"/help","commandType":"str","commandCase":false,"x":170,"y":940,"wires":[["af12450e.756f88"]]},{"id":"af12450e.756f88","type":"function","z":"53c23fad.3bb34","name":"","func":"var help = \"command untuk bot telegram:\";\nhelp += \"\\n 1. /cekdata = digunakan untuk cek data\";\nhelp += \"\\n 2. /naik = untuk menaikkan temperatur\";\nhelp += \"\\n 3. /turun = untuk menurunkan temperatur\";\nhelp += \"\\n\\n Hasil ideal menurut kepmenkes yaitu:\";\nhelp += \"\\n suhu       = 22C - 24C\";\nhelp += \"\\n kelembapan = 45% - 60%\";\nmsg.payload = help;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":920,"wires":[["35059f5c.e52f7"]]},{"id":"d920eb5c.ffe678","type":"trigger","z":"53c23fad.3bb34","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1170,"y":400,"wires":[["ea0943ec.707"]]},{"id":"517ce49a.06346c","type":"function","z":"53c23fad.3bb34","name":"ideal","func":"var data = JSON.parse (msg.payload);\nvar cek = data.keterangan\nif(data.keterangan == \"tidak ideal\"){\n    msg.payload = \"9\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":400,"wires":[["278dda27.df6256"]]},{"id":"3d4a7667.3b03ba","type":"json","z":"53c23fad.3bb34","name":"","property":"payload","action":"str","pretty":true,"x":330,"y":400,"wires":[["517ce49a.06346c","df81df91.27e2d"]]},{"id":"278dda27.df6256","type":"switch","z":"53c23fad.3bb34","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"9","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":400,"wires":[["9800e2e8.0f507"]]},{"id":"df81df91.27e2d","type":"function","z":"53c23fad.3bb34","name":"tidak ideal","func":"var data = JSON.parse (msg.payload);\nvar cek = data.keterangan\nif(data.keterangan == \"ideal\"){\n    msg.payload = \"1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":460,"wires":[["63213cd4.7b05b4"]]},{"id":"545d869.ca6c878","type":"mqtt in","z":"53c23fad.3bb34","name":"","topic":"topic/data/ruang2","qos":"0","datatype":"auto","broker":"dac2e186.561c3","nl":false,"rap":true,"rh":0,"x":120,"y":520,"wires":[["8a425c9d.4972","28cc296c.818946"]]},{"id":"3324d702.53bda8","type":"trigger","z":"53c23fad.3bb34","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1190,"y":560,"wires":[["ea0943ec.707"]]},{"id":"f70f3382.e5407","type":"function","z":"53c23fad.3bb34","name":"ideal","func":"var data = JSON.parse (msg.payload);\nvar cek = data.keterangan\nif(data.keterangan == \"tidak ideal\"){\n    msg.payload = \"9\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":560,"wires":[["9fa683f1.145b8"]]},{"id":"8a425c9d.4972","type":"json","z":"53c23fad.3bb34","name":"","property":"payload","action":"str","pretty":true,"x":290,"y":560,"wires":[["f70f3382.e5407","d256af2e.d6ca1"]]},{"id":"d256af2e.d6ca1","type":"function","z":"53c23fad.3bb34","name":"tidak ideal","func":"var data = JSON.parse (msg.payload);\nvar cek = data.keterangan\nif(data.keterangan == \"ideal\"){\n    msg.payload = \"1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":620,"wires":[["37394556.a8fe9a"]]},{"id":"30de6246.fdb84e","type":"mqtt in","z":"53c23fad.3bb34","name":"","topic":"topic/data/ruang2","qos":"0","datatype":"auto","broker":"dac2e186.561c3","nl":false,"rap":true,"rh":0,"x":100,"y":660,"wires":[["b3bcddd1.1aa3b","d4f3e2f5.46821"]]},{"id":"9810b697.800ee8","type":"trigger","z":"53c23fad.3bb34","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":740,"wires":[["ea0943ec.707"]]},{"id":"c3cb76d6.482108","type":"function","z":"53c23fad.3bb34","name":"ideal","func":"var data = JSON.parse (msg.payload);\nvar cek = data.keterangan\nif(data.keterangan == \"tidak ideal\"){\n    msg.payload = \"9\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":700,"wires":[["1d99196a.ef7df7"]]},{"id":"b3bcddd1.1aa3b","type":"json","z":"53c23fad.3bb34","name":"","property":"payload","action":"str","pretty":true,"x":250,"y":700,"wires":[["c3cb76d6.482108","4d1013c4.d3967c"]]},{"id":"4d1013c4.d3967c","type":"function","z":"53c23fad.3bb34","name":"tidak ideal","func":"var data = JSON.parse (msg.payload);\nvar cek = data.keterangan\nif(data.keterangan == \"ideal\"){\n    msg.payload = \"1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":760,"wires":[["23802013.1d52d"]]},{"id":"df7a3da6.aa06f","type":"inject","z":"53c23fad.3bb34","name":"ideal","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ruangan\":\"ruangan 1\",\"date\":\"2021-08-09\",\"time\":\"20:01:03\",\"temp\":26.3,\"humid\":61,\"keterangan\":\"tidak ideal\"}","payloadType":"json","x":150,"y":420,"wires":[["3d4a7667.3b03ba"]]},{"id":"9230e68a.531aa8","type":"inject","z":"53c23fad.3bb34","name":"ideal","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ruangan\":\"ruangan 2\",\"date\":\"2021-08-09\",\"time\":\"19:31:03\",\"temp\":23.5,\"humid\":57,\"keterangan\":\"ideal\"}","payloadType":"json","x":150,"y":600,"wires":[["8a425c9d.4972"]]},{"id":"8d21cc68.bcf89","type":"inject","z":"53c23fad.3bb34","name":"ideal","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ruangan\":\"ruangan 3\",\"date\":\"2021-08-09\",\"time\":\"19:31:03\",\"temp\":23.3,\"humid\":49,\"keterangan\":\"ideal\"}","payloadType":"json","x":110,"y":740,"wires":[["b3bcddd1.1aa3b"]]},{"id":"9800e2e8.0f507","type":"function","z":"53c23fad.3bb34","name":"parsing json to string","func":"var data = JSON.parse (msg.payload);\nvar pesan;\npesan += \"Ruangan = \" + data.ruangan;\npesan += \"\\nTanggal = \" + data.date;\npesan += \"\\nWaktu = \" + data.time;\npesan += \"\\nTemperatur = \" + data.temp + \"C\";\npesan += \"\\nKelembapan = \" + data.humid + \"%\";\npesan += \"\\nKeterangan = \" + data.keterangan;\npesan = pesan.replace(\"undefined\", \"\");\nmsg.payload = pesan;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":360,"wires":[["d920eb5c.ffe678"]]},{"id":"63213cd4.7b05b4","type":"switch","z":"53c23fad.3bb34","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":460,"wires":[["c8d6f7d6.e79b28"]]},{"id":"9fa683f1.145b8","type":"switch","z":"53c23fad.3bb34","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"9","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":560,"wires":[["b78009b6.87a148"]]},{"id":"37394556.a8fe9a","type":"switch","z":"53c23fad.3bb34","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":620,"wires":[["d0b827.32f127d8"]]},{"id":"1d99196a.ef7df7","type":"switch","z":"53c23fad.3bb34","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"9","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":700,"wires":[["f27c371.df2acc8"]]},{"id":"23802013.1d52d","type":"switch","z":"53c23fad.3bb34","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":760,"wires":[["67a0a6d1.481448"]]},{"id":"28cc296c.818946","type":"json","z":"53c23fad.3bb34","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":500,"wires":[["c35e9111.7fc12"]]},{"id":"d4f3e2f5.46821","type":"json","z":"53c23fad.3bb34","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":640,"wires":[["c35e9111.7fc12"]]},{"id":"ea0943ec.707","type":"join","z":"53c23fad.3bb34","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1440,"y":600,"wires":[["35059f5c.e52f7","8c4586f9.885248"]]},{"id":"c8d6f7d6.e79b28","type":"function","z":"53c23fad.3bb34","name":"parsing json to string","func":"var data = JSON.parse (msg.payload);\nvar pesan;\npesan += \"Ruangan = \" + data.ruangan;\npesan += \"\\nTanggal = \" + data.date;\npesan += \"\\nWaktu = \" + data.time;\npesan += \"\\nTemperatur = \" + data.temp + \"C\";\npesan += \"\\nKelembapan = \" + data.humid + \"%\";\npesan += \"\\nKeterangan = \" + data.keterangan;\npesan = pesan.replace(\"undefined\", \"\");\nmsg.payload = pesan;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":460,"wires":[["35059f5c.e52f7"]]},{"id":"b78009b6.87a148","type":"function","z":"53c23fad.3bb34","name":"parsing json to string","func":"var data = JSON.parse (msg.payload);\nvar pesan;\npesan += \"Ruangan = \" + data.ruangan;\npesan += \"\\nTanggal = \" + data.date;\npesan += \"\\nWaktu = \" + data.time;\npesan += \"\\nTemperatur = \" + data.temp + \"C\";\npesan += \"\\nKelembapan = \" + data.humid + \"%\";\npesan += \"\\nKeterangan = \" + data.keterangan;\npesan = pesan.replace(\"undefined\", \"\");\nmsg.payload = pesan;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":560,"wires":[["3324d702.53bda8"]]},{"id":"d0b827.32f127d8","type":"function","z":"53c23fad.3bb34","name":"parsing json to string","func":"var data = JSON.parse (msg.payload);\nvar pesan;\npesan += \"Ruangan = \" + data.ruangan;\npesan += \"\\nTanggal = \" + data.date;\npesan += \"\\nWaktu = \" + data.time;\npesan += \"\\nTemperatur = \" + data.temp + \"C\";\npesan += \"\\nKelembapan = \" + data.humid + \"%\";\npesan += \"\\nKeterangan = \" + data.keterangan;\npesan = pesan.replace(\"undefined\", \"\");\nmsg.payload = pesan;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":620,"wires":[["35059f5c.e52f7"]]},{"id":"f27c371.df2acc8","type":"function","z":"53c23fad.3bb34","name":"parsing json to string","func":"var data = JSON.parse (msg.payload);\nvar pesan;\npesan += \"Ruangan = \" + data.ruangan;\npesan += \"\\nTanggal = \" + data.date;\npesan += \"\\nWaktu = \" + data.time;\npesan += \"\\nTemperatur = \" + data.temp + \"C\";\npesan += \"\\nKelembapan = \" + data.humid + \"%\";\npesan += \"\\nKeterangan = \" + data.keterangan;\npesan = pesan.replace(\"undefined\", \"\");\nmsg.payload = pesan;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":700,"wires":[["9810b697.800ee8"]]},{"id":"67a0a6d1.481448","type":"function","z":"53c23fad.3bb34","name":"parsing json to string","func":"var data = JSON.parse (msg.payload);\nvar pesan;\npesan += \"Ruangan = \" + data.ruangan;\npesan += \"\\nTanggal = \" + data.date;\npesan += \"\\nWaktu = \" + data.time;\npesan += \"\\nTemperatur = \" + data.temp + \"C\";\npesan += \"\\nKelembapan = \" + data.humid + \"%\";\npesan += \"\\nKeterangan = \" + data.keterangan;\npesan = pesan.replace(\"undefined\", \"\");\nmsg.payload = pesan;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":760,"wires":[["35059f5c.e52f7"]]},{"id":"dac2e186.561c3","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dff2106f.a1f8c","type":"mongodb2","uri":"mongodb://localhost:27017/skripsi","name":"","options":"","parallelism":"-1"}]